body{
  background-color:antiquewhite
}

@media only screen and (max-width: 768px){
  h3,p {
    font-size:0.3em;
  }
  div {
    width:100%;
    margin:0 0 0 0;
  }
  
}
div{
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  background-color:lightBlue;
  text-align: center;
  border-top: 5px solid Red;
  border-left: 5px solid Red;  border-right: 5px solid DarkRed; border-bottom: 5px solid DarkRed;
}

img{
  display:block;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:-10px;
  width:95%;
}
p{
  text-align:center
}
h3,p{
  font-size:1em;
}